*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.ok-join .row div p{
    font-size: 25px;   
}
.box1-div{
    background-image: url(img/box1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
}
.box1-div,.box1-div,.box1-div{
    position: relative;
}
.training-text{
    background-color:  rgba(121,123,125,0.5);
    padding: 10px;
}
/* Women and men classes */
.img-jumbo{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url('img/back4.jpg');
    background-size: cover;
}

.meet-trainer::after{
    background-color: #e74c3c;
    content: " ";
   	display: block;
  	width: 1400px;
  	height: 5px;
    margin-top: 2px;
}
/* Galleries */

.excuse h1{
    font-size: 60px;
    font-weight: 800;
    color: #e74c3c;
    padding-top: 150px;
    padding-left: 50px;
}
.excuse h1 span{
    font-size: 60px;
    font-weight: 800;
    color: black;
}
/* call or visit */
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

/* Media Query */

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { ... }

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { ... }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { ... }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }